*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

h1, h2 {
    font-family: "Prata", serif;
}

header {
    background-color: #1B211D;
    padding-bottom: 112px;
}

header section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-section {
    display: flex;
    align-items: center;
    padding: 22px 64px;
    width: 100%;
    max-width: 1312px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-logo img {
    width: 100%;
    max-width: 97px;
    margin-right: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.nav-links a:hover {
    color: #BD2E3B;
}

select {
    background: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: white;
    outline: none;
}

.nav-btns {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.nav-help {
    border: 1px solid white;
    border-radius: 100px;
    background: none;
    color: white;
    font-weight: 500;
    padding: 8px 20px;
}

.nav-help:hover {
    background-color: #BD2E3B;
    cursor: pointer;
}

.nav-join {
    border: none;
    border-radius: 100px;
    background: #BD2E3B;
    color: white;
    font-weight: 500;
    padding: 8px 20px;
}

.nav-join:hover {
    background: none;
    border: 1px solid white;
    cursor: pointer;
}

hr {
    opacity: 20%;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 0 64px 0 64px;
}

.hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 112px 0 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-text h1 {
    width: 100%;
    max-width: 768px;
    color: white;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
}

.hero-text p {
    width: 100%;
    max-width: 768px;
    color: white;
    font-weight: 400;
    line-height: 150%;
    font-size: 18px;
    padding: 24px 0 32px;
}

.hero-btns {
    display: flex;
    width: 100%;
    gap: 16px;
}

.frame {
    width: 100%;
    max-width: 416px;
}

.frame img {
    display: flex;
    flex-direction: column;
}

.get-started {
    border: none;
    border-radius: 100px;
    background: #BD2E3B;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
}

.learn-more {
    border: 1px solid white;
    border-radius: 100px;
    background: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 20px;
}

.get-started:hover {
    cursor: pointer;
}

.learn-more:hover {
    cursor: pointer;
}

.courier {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.courier img {
    width: 100%;
    max-width: 1280px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    max-width: 1280px;
    margin: 112px 80px;
    padding: 0 64px 0 64px;
    gap: 22px;
}

.main-tagline {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 95px;
    gap: 5px;
    padding: 55px 0 17px;
} 

.main-tagline p {
    font-size: 16px;
    color: #020904;
    font-weight: 600;
}

.main-tagline img {
    display: block;
    position: relative;
    width: 100%;
    max-width: 26px;
}

.main-heading {
    display: flex;
    flex-direction: column;
}

.main-heading h2 {
    color: #020904;
    font-size: 52px;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
    line-height: 120%;
    padding-bottom: 24px;
}

.main-heading p {
    color: #020904;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
    line-height: 150%;
    padding-bottom: 32px;
}

.main-list {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.list-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 288px;
    gap: 16px;
}

.list-item h3 {
    font-size: 22px;
    font-weight: 500;
    color: #020904;
}

.list-item p {
    font-size: 16px;
    color: #020904;
    font-weight: 400;
    width: 100%;
    max-width: 288px;
    line-height: 150%;
}

.explore {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    background: none;
    color: #020904;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    gap: 8px;
}

.main-btns {
    padding-bottom: 54px;
}

.main-btns a {
    text-decoration: none;
    color: #020904;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
}

.star-container {
    position: relative;
    width: 658px;
    height: 702px;
    overflow: hidden; 
}

.star-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    clip-path: polygon(33% 0%, 66% 0%, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0% 66%, 0% 33%, 33% 33%);
}